.block-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    min-height: 100vh;
    color: var(--fourth-color);
    background-color: var(--second-color);
    text-align: left;
    padding-top: 5%;
    border-bottom: 50px solid black;
    a {
        text-decoration: none;
    }
}
