.projects-page-container {
    display: flex;
    justify-content: left;
}

.project-container {
    flex-grow: 1;
    background-color: white;
}

.project-body {
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.project-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2.5%;
    padding-left: 2.5%;
    background-color: var(--first-color);
}

.project-image {
    img {
        max-width: 100%;
        max-height: auto;
    }
    margin-right: 1.5%;
}

.project-description {
    border-top: 1px solid black;
    max-width: 65ch;
    font-size: 1.1rem;
    color: black;
    padding: 2.5% 15% 2.5% 10%;
}
