:root {
    --first-color: #222831;
    --second-color: #393e46;
    --third-color: #089648;
    --fourth-color: #f2f2f2;
}

.title-container {
    justify-content: space-evenly;
    background-image: url("./assets/sonny.jpg");
    background-size: cover;
    align-items: stretch;
    min-height: 100vh;
}

.title-name {
    display: flex;
    flex-direction: column;
    font-size: 17vw;
    padding-right: 15rem;
    padding-left: 5rem;
    color: var(--third-color);
}

.title-description {
    font-size: 1.2rem;
    max-width: 65ch;
    color: var(--fourth-color);
    background-color: var(--second-color);
    text-align: left;
    padding: 0% 2.5% 0% 2.5%;
    a {
        text-decoration: none;
    }
}

/* set arrow positioning */
.arrow {
    width: 60px;
    height: 82px;
    position: absolute; /* don't forget set container to relative */
    left: 49%;
    margin-left: 0px;
    bottom: 3%;
    z-index: 999;
}
/* set arrow styles */
.arrow path {
    stroke: var(--third-color);
    stroke-width: 7px;
    fill: transparent;
    animation: down 2s infinite;
}
/* arrow keyframe animation */
@keyframes down {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
/* arrow animation delay */
.arrow path.a1 {
    animation-delay: -1s;
}
.arrow path.a2 {
    animation-delay: -0.5s;
}
.arrow path.a3 {
    animation-delay: 0s;
}

@media (max-width: 700px) {
    .title-container {
        justify-content: space-evenly;
        background-image: url("./assets/sonny.jpg");
        background-size: cover;
        background-position-x: 55%;
        min-height: 100vh;
    }
    .title-name {
        display: flex;
        font-size: 30vw;
        padding-right: 15rem;
        padding-left: 4%;
        color: var(--third-color);
    }

    .arrow {
        display: none;
    }
}
